.social{
				width: 20%;
				padding-bottom: 20%
			}
@media (max-width: 576px){
	img{
		max-width: 400px;
		min-width: 50px;
	}
	textarea{
		width: 300px;
	}
	input{
		width: 350px !important;

	}
	#Buscador{
		display: none;
	}
}